body{
    background-color: powderblue;
}

h1{
    color: beige;
}

li.sub{
  bottom: -0.25em;
}

div.about{
    background: honeydew;
}

div.education{
    background: #F6F5DA;
}

div.experience{
    background: oldlace;
}

div.projects{
    background: aliceblue;
}